In [79]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [116]:
df = pd.read_csv('./project_data/test_data.csv', index_col = 'Claim Identifier')
df.head(2)

,Accident Date,Age at Injury,Alternative Dispute Resolution,Assembly Date,Attorney/Representative,Average Weekly Wage,Birth Year,C-2 Date,C-3 Date,Carrier Name,Carrier Type,County of Injury,COVID-19 Indicator,District Name,First Hearing Date,Gender,IME-4 Count,Industry Code,Industry Code Description,Medical Fee Region,OIICS Nature of Injury Description,WCIO Cause of Injury Code,WCIO Cause of Injury Description,WCIO Nature of Injury Code,WCIO Nature of Injury Description,WCIO Part Of Body Code,WCIO Part Of Body Description,Zip Code,Number of Dependents
Claim Identifier,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
6165911,2022-12-24,19,N,2023-01-02,N,NaN,2003.0,2023-01-02,NaN,INDEMNITY INSURANCE CO OF,1A. PRIVATE,BRONX,N,NYC,NaN,M,NaN,48.0,TRANSPORTATION AND WAREHOUSING,IV,NaN,31.0,"FALL, SLIP OR TRIP, NOC",10.0,CONTUSION,54.0,LOWER LEG,10466,1
6166141,2022-11-20,19,N,2023-01-02,N,NaN,2003.0,2023-01-02,NaN,A I U INSURANCE COMPANY,1A. PRIVATE,QUEENS,N,NYC,NaN,F,NaN,45.0,RETAIL TRADE,IV,NaN,75.0,FALLING OR FLYING OBJECT,10.0,CONTUSION,10.0,MULTIPLE HEAD INJURY,11691,1

## 3.2 Feature Engineering

<a href="#top">Top &#129033;</a>

all transformations must be applied o X_test too

### 3.2.1 Data Type Conversions

even though this is usually feature engineering, it will be useful doing before treating missing values

In [117]:
#df.info()

In [118]:
df['Accident Date'] = pd.to_datetime(df['Accident Date'], 
                                     errors='coerce')

df['Assembly Date'] = pd.to_datetime(df['Assembly Date'], 
                                     errors='coerce')

df['C-2 Date'] = pd.to_datetime(df['C-2 Date'], 
                                errors='coerce')

df['C-3 Date'] = pd.to_datetime(df['C-3 Date'], 
                                errors='coerce')

df['First Hearing Date'] = pd.to_datetime(df['First Hearing Date'], 
                                          errors='coerce')

In [119]:
df.head(2)

,Accident Date,Age at Injury,Alternative Dispute Resolution,Assembly Date,Attorney/Representative,Average Weekly Wage,Birth Year,C-2 Date,C-3 Date,Carrier Name,Carrier Type,County of Injury,COVID-19 Indicator,District Name,First Hearing Date,Gender,IME-4 Count,Industry Code,Industry Code Description,Medical Fee Region,OIICS Nature of Injury Description,WCIO Cause of Injury Code,WCIO Cause of Injury Description,WCIO Nature of Injury Code,WCIO Nature of Injury Description,WCIO Part Of Body Code,WCIO Part Of Body Description,Zip Code,Number of Dependents
Claim Identifier,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
6165911,2022-12-24,19,N,2023-01-02,N,NaN,2003.0,2023-01-02,NaT,INDEMNITY INSURANCE CO OF,1A. PRIVATE,BRONX,N,NYC,NaT,M,NaN,48.0,TRANSPORTATION AND WAREHOUSING,IV,NaN,31.0,"FALL, SLIP OR TRIP, NOC",10.0,CONTUSION,54.0,LOWER LEG,10466,1
6166141,2022-11-20,19,N,2023-01-02,N,NaN,2003.0,2023-01-02,NaT,A I U INSURANCE COMPANY,1A. PRIVATE,QUEENS,N,NYC,NaT,F,NaN,45.0,RETAIL TRADE,IV,NaN,75.0,FALLING OR FLYING OBJECT,10.0,CONTUSION,10.0,MULTIPLE HEAD INJURY,11691,1

### 3.2.2 Encoding

<a href="#top">Top &#129033;</a>

**Alternative Dispute Resolution**

encode ['N' nan 'Y' 'U'] n -> 0, y -> 1, u -> 2

In [120]:
freq = df['Alternative Dispute Resolution'].value_counts()
freq

Alternative Dispute Resolution
N    386314
Y      1660
U         1
Name: count, dtype: int64

In [121]:
df['Alternative Dispute Resolution'] = df['Alternative Dispute Resolution'].map(freq)

**Attorney/Representative**

['N' 'Y' nan] encode 0/1

In [122]:
df['Attorney/Representative'].value_counts()

Attorney/Representative
N    306476
Y     81499
Name: count, dtype: int64

In [123]:
df['Attorney/Representative'] = df['Attorney/Representative'].replace({'N': 0, 'Y': 1})

**Carrier Name**

In [124]:
df['Carrier Name'].nunique()

1598

frequency encoder

In [125]:
freq = df['Carrier Name'].value_counts()

In [126]:
df['Carrier Name'] = df['Carrier Name'].map(freq)

**Carrier Type**

encode (8 unique values)

In [127]:
freq = df['Carrier Type'].value_counts()
freq

Carrier Type
1A. PRIVATE                                    201827
3A. SELF PUBLIC                                 78948
2A. SIF                                         66189
4A. SELF PRIVATE                                38619
UNKNOWN                                          1642
5D. SPECIAL FUND - UNKNOWN                        748
5A. SPECIAL FUND - CONS. COMM. (SECT. 25-A)         2
Name: count, dtype: int64

In [128]:
df['Carrier Type'] = df['Carrier Type'].map(freq)

**County of Injury**

probably too many to encode (?) --> freq encoding

In [129]:
df['County of Injury'].nunique()

63

In [130]:
freq = df['County of Injury'].value_counts()

In [131]:
df['County of Injury'] = df['County of Injury'].map(freq)

**COVID-19 Indicator**

binary encoding

In [132]:
df['COVID-19 Indicator'].value_counts()

COVID-19 Indicator
N    385434
Y      2541
Name: count, dtype: int64

In [133]:
df['COVID-19 Indicator'] = df['COVID-19 Indicator'].replace({'N': 0, 'Y': 1})

**District Name**

encode (8 uniques)

In [134]:
freq = df['District Name'].value_counts()
freq

District Name
NYC           187972
ALBANY         56500
HAUPPAUGE      36656
BUFFALO        31481
SYRACUSE       29537
ROCHESTER      28073
BINGHAMTON     15382
STATEWIDE       2374
Name: count, dtype: int64

In [135]:
df['District Name'] = df['District Name'].map(freq)

**Gender**

encode ['M' 'F' nan 'U' 'X']

In [136]:
df['Gender'].value_counts()

Gender
M    215343
F    167019
U      5340
X       273
Name: count, dtype: int64

In [137]:
df['Gender'] = df['Gender'].map({
    'M': 0,  # Male
    'F': 1,  # Female
    'U': 2,  # Unknown 
    'X': 2   # Other 
})

**Medical Fee Region**

encode

In [138]:
freq = df['Medical Fee Region'].value_counts()
freq

Medical Fee Region
IV     182276
I       91300
II      58743
III     34679
UK      20977
Name: count, dtype: int64

In [139]:
df['Medical Fee Region'] = df['Medical Fee Region'].map(freq)

### 3.2.3 Other transformations

<a href="#top">Top &#129033;</a>

**Accident Date**

transform into year (maybe month and day too)

In [140]:
df['Accident Year'] = df['Accident Date'].dt.year
df['Accident Month'] = df['Accident Date'].dt.month
df['Accident Day'] = df['Accident Date'].dt.day

**Assembly Date**

transform into year (maybe month and day too)

In [141]:
df['Assembly Year'] = df['Assembly Date'].dt.year
df['Assembly Month'] = df['Assembly Date'].dt.month
df['Assembly Day'] = df['Assembly Date'].dt.day

**C-2 Date**

transform into year (maybe month and day too)

In [142]:
df['C-2 Year'] = df['C-2 Date'].dt.year
df['C-2 Month'] = df['C-2 Date'].dt.month
df['C-2 Day'] = df['C-2 Date'].dt.day

**Zip Code**

transform non-numeric into missing values

In [143]:
import numpy as np
df['Zip Code'] = df['Zip Code'].apply(lambda x: np.nan 
                                      if not str(x).isnumeric() else x)

**Drop Transformed Columns**

In [144]:
df = df.drop(['Accident Date', 'Assembly Date', 'C-2 Date'], axis = 1)

### 3.2.4 Unique Feature-Pair Analysis 

<a href="#top">Top &#129033;</a>

save codes and descriptions in dataframes, for later consultation (if needed)

In [145]:
injury_cause = df[['WCIO Cause of Injury Code', 'WCIO Cause of Injury Description']].drop_duplicates()

injury_cause_df = injury_cause.set_index('WCIO Cause of Injury Code')

injury_cause_df.head(2)

                          WCIO Cause of Injury Description
WCIO Cause of Injury Code
31.0                               FALL, SLIP OR TRIP, NOC
75.0                              FALLING OR FLYING OBJECT

In [146]:
injury_nature = df[['WCIO Nature of Injury Code', 'WCIO Nature of Injury Description']].drop_duplicates()

injury_nature_df = injury_nature.set_index('WCIO Nature of Injury Code')

injury_nature_df.head(2)

                           WCIO Nature of Injury Description
WCIO Nature of Injury Code
10.0                                               CONTUSION
49.0                                          SPRAIN OR TEAR

In [147]:
body_code = df[['WCIO Part Of Body Code', 'WCIO Part Of Body Description']].drop_duplicates()

body_code_df = body_code.set_index('WCIO Part Of Body Code')


body_code_df.head(2)

                       WCIO Part Of Body Description
WCIO Part Of Body Code
54.0                                       LOWER LEG
10.0                            MULTIPLE HEAD INJURY

In [148]:
industry_code = df[['Industry Code', 'Industry Code Description']].drop_duplicates()

industry_code_df = industry_code.set_index('Industry Code')


industry_code_df.head(2)

                    Industry Code Description
Industry Code
48.0           TRANSPORTATION AND WAREHOUSING
45.0                             RETAIL TRADE

In [149]:
df = df.drop(['C-3 Date', 'First Hearing Date', 
             'OIICS Nature of Injury Description'], axis = 1)

In [150]:
df = df.drop(['WCIO Cause of Injury Description', 'WCIO Nature of Injury Description', 
              'WCIO Part Of Body Description', 'Industry Code Description'], axis = 1)

In [151]:
df

,Age at Injury,Alternative Dispute Resolution,Attorney/Representative,Average Weekly Wage,Birth Year,Carrier Name,Carrier Type,County of Injury,COVID-19 Indicator,District Name,Gender,IME-4 Count,Industry Code,Medical Fee Region,WCIO Cause of Injury Code,WCIO Nature of Injury Code,WCIO Part Of Body Code,Zip Code,Number of Dependents,Accident Year,Accident Month,Accident Day,Assembly Year,Assembly Month,Assembly Day,C-2 Year,C-2 Month,C-2 Day
Claim Identifier,,,,,,,,,,,,,,,,,,,,,,,,,,,,
6165911,19,386314,0,NaN,2003.0,7573,201827,28048,0,187972,0,NaN,48.0,182276,31.0,10.0,54.0,10466,1,2022.0,12.0,24.0,2023,1,2,2023.0,1.0,2.0
6166141,19,386314,0,NaN,2003.0,7096,201827,40358,0,187972,1,NaN,45.0,182276,75.0,10.0,10.0,11691,1,2022.0,11.0,20.0,2023,1,2,2023.0,1.0,2.0
6165907,59,386314,0,0.0,1963.0,143,201827,17586,0,187972,1,NaN,56.0,34679,68.0,49.0,62.0,10604,0,2022.0,12.0,26.0,2023,1,2,2022.0,12.0,31.0
6166047,55,386314,0,0.0,0.0,12863,201827,40358,0,187972,1,NaN,48.0,182276,25.0,10.0,53.0,11411,6,2022.0,12.0,28.0,2023,1,2,2023.0,1.0,2.0
6166102,25,386314,0,0.0,1997.0,2758,201827,35917,0,187972,0,NaN,55.0,182276,79.0,40.0,37.0,11212,5,2022.0,12.0,20.0,2023,1,2,2022.0,12.0,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6553137,52,386314,0,NaN,1960.0,66189,66189,1996,0,29537,0,NaN,NaN,91300,NaN,NaN,NaN,13619,5,2012.0,9.0,12.0,2024,6,5,2012.0,10.0,23.0
6553119,59,386314,1,0.0,1965.0,4418,78948,36664,0,36656,1,NaN,NaN,182276,NaN,NaN,NaN,11776,1,2024.0,5.0,22.0,2024,6,5,NaN,NaN,NaN
6553542,45,386314,1,0.0,1979.0,66189,66189,40358,0,187972,0,NaN,NaN,182276,NaN,NaN,NaN,11368,5,2024.0,5.0,6.0,2024,6,5,NaN,NaN,NaN
6553455,42,386314,1,0.0,1981.0,6105,38619,40358,0,187972,0,NaN,NaN,182276,NaN,NaN,NaN,11432,5,2024.0,2.0,24.0,2024,6,5,NaN,NaN,NaN
6553594,0,386314,1,0.0,NaN,3992,78948,8799,0,187972,0,NaN,NaN,182276,NaN,NaN,NaN,10302,5,NaN,NaN,NaN,2024,6,5,NaN,NaN,NaN

In [152]:
df.to_csv('./project_data/test_treated')